<!DOCTYPE html>
<html>
    <head>
        <title>SASA bus locator</title>
        {% block javascripts %}
            <script src="{{ asset('js/OpenLayers/OpenLayers.js') }}"></script>
            <script src="{{ asset('js/OpenLayers/proj4js.min.js') }}"></script>
            <script>
            Proj4js.defs["EPSG:25832"] = "+proj=utm +zone=32 +ellps=GRS80 +units=m +no_defs";
            </script>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
            <script src="{{ asset('js/sasabus.js') }}"></script>
        {% endblock %}
        <script type="text/javascript">
            $(document).ready(function() {
                SASABus.init('map');
            });
        </script>
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
        <style>
        .ui-dialog {z-index:1000;}
        </style>
    </head>
    <body>
        <div style="width:1024px; height:1024px" id="map"></div>
        <div id="busPopup" style="display:none;">
            <h3>Linea ${lidname}</h3>
            <p class="noData">Questo autobus non si ferma</p>
            <table>
                <thead>
                    <tr>
                        <th>Prossime fermate</th>
                        <th>Stimato</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>${ort_ref_ort_name}</td>
                        <td>${time_est}</td> <!-- temporaneo, non ho ancora i dati sull'orario -->
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="stopPopup" style="display:none;">
            <h3>Fermata ${ort_ref_ort_name}</h3>
            <p class="noData">Non passano autobus qui</p>
            <table>
                <thead>
                    <tr>
                        <th>Prossimi autobus</th>
                        <th>Stimato</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Linea ${lidname}</td>
                        <td>${bus_passes_at}</td> <!-- temporaneo, non ho ancora i dati sull'orario -->
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
