.mobile-menu-btn,.panel{
	width:10%;
}

.config, #zoomToMyPosition{
	width:20%;
}
#zoomButtons{
	width:4%;
}
#switcheroo{
	margin-top:auto;
	font-size:12px;
	padding:5px;
}
.modal{
        width:90%;
}
.ibutton{
	background-size:50%;
}
