#map-container{width:100%;position:absolute;top:43px;bottom:0;left:0;right:0}
div.olMap{width:100%;height:100%}

.panel{width:100%;height:auto;box-shadow:0 0 0;z-index:1500}

.panel .header{width:100%;height:43px;padding:0;background:#434343;border-bottom:0}
.panel .header .aux{margin:0 auto;width:92%;position:relative;height:43px}
.panel .header .btn-toggle{display:none}

#logo{top:10px;left:0;background:url(../images/logo-small.gif) 0 0 no-repeat;width:194px;height:23px}
.beta{top:11px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}

.panel .language-switcher{display:none;right:auto;width:100%}
.language-switcher .aux{width:92%;margin:0 auto;padding:20px 0 0 0}
.language-switcher label{float:left;color:#535353;font-size:1.08em;font-weight:bold;padding:6px 0 0 0;margin:0 20px 0 0}
.language-switcher ul{float:left}
.language-switcher ul li{float:left;display:block;margin-right:5px;font-size:1.08em}
.language-switcher li a{height:17px;width:27px}
.language-switcher ul li.active{border:1px solid #585858}
.language-switcher ul li.active a{background:#585858;color:#fff;font-weight:bold}


.main-menu{position:absolute;top:0;right:0;width:33px;height:43px}
.main-menu .menu-button{position:absolute;right:0;top:0;width:33px;height:43px;cursor:pointer;background:url(../images/ico-main-menu.gif) center center no-repeat;text-indent:-9999px;font-size:0;line-height:0}
.main-menu ul{display:none;position:absolute;top:43px;right:0;float:right;background:#2e2e2e}
.main-menu li{width:90px;background:url(../images/ico-main-menu-items.gif) 120px 12px no-repeat;color:#999999;font-size:1.16em;padding:15px 47px 12px 14px;border-bottom:1px solid #222222;border-top:1px solid #3a3a3a;white-space:nowrap}
.main-menu li.first{border-top:0}
.main-menu li.last{border-bottom:0}

.main-menu li.menu-search{background-position:120px -29px}
.main-menu li.menu-about{background-position:120px -68px}
.main-menu li.menu-settings{background-position:120px -110px}

.panel .main{display:none}
#search-container{display:none}
.panel-content-out{display:none;width:100%}


.panel-mobile{display:none;position:absolute;top:0;left:0;z-index:2000;background:#fafafa}

.panel-mobile .scroll{width:100%}
.panel-mobile .scroll-content{width:100%;float:left}
.panel-mobile .iScrollVerticalScrollbar{top:13px}


#variants{width:100%;padding:0}
#variants .aux{margin:0 auto;width:92%}

#variants .tabs{padding:13px 0 0 0}
#variants .tabs li.button{background:none;height:auto;width:47%;margin:0;padding:0;border:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
#variants .tabs li.button.last{float:right}
#variants .tabs li.button.active{background:none}
#variants .tabs li span{background:#FCFCFC;height:22px;border:1px solid #EEEEEE;padding:10px 10px 0 10px;display:block;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.de #variants .tabs li span{height:31px;padding-top:5px}
#variants .tabs li.button.active span{background:#585858;border:1px solid #585858}

#variants .tabbed-content{width:100%}

#variants .tick{width:31%}
#variants .tick.listCol1,
#variants .tick.listCol2{margin-right:3.5%}
#variants .tick li{width:100%}
#variants .line{width:auto}

.panel-header{width:100%;height:34px;padding:9px 0 0 0;background:#434343}
.panel-header .aux{width:92%;margin:0 auto}
.language-switcher .panel-header .aux{padding:0}
.panel-header h2{float:left;color:#919191;font-size:1.21em;padding:7px 0 0 0}
.panel-header .close{font-size:1.08em;font-weight:bold;display:block;color:#b3b3b3;padding:7px 17px 0 17px;height:18px;float:right;background:#5f5d5d;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}


.search-box{padding:16px 0;width:100%;float:none;height:37px}
.search-box #search-form{background:#fff;height:35px;width:92%;margin:0 auto;float:none;border:1px solid #E6E6E6;box-shadow:0 0 19px -5px #E2E2E2 inset}
#search-field{width:70%;float:none;border:0;box-shadow:0 0 0}

.search-box.result{display:none;width:92%;float:none;margin:0 auto;background:#fafafa;border:0}

.footer{display:none}


#zoomButtons{top:auto;bottom:29px;right:10px}

#serverTime{z-index:5000;height:32px;width:45px;bottom:29px;left:52px;right:auto;padding:0 0 0 0;font-weight:bold;font-size:0.75em;position:absolute;text-align:center;background:#fff;z-index:999;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#bdbfbc;text-transform:uppercase;border:0;box-shadow:0 0 2px 0 #000;/*border:1px solid #90928f;box-shadow:0 0 -2px 0 #000;*/-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";filter:alpha(opacity=90);opacity:0.9}
	#serverTime span{font-size:0.75em;color:#8a8a8a;margin:0 0 3px 0;padding:4px 0 0 0;display:block;width:100%}
	#serverTime .reload{color:#6a6a68;font-size:1.35em;padding:0}


#stopPopup,#busPopup{width:260px}
#stopPopup table,#busPopup table{width:260px}
#stopPopup .bus{padding-left:40px;background:#fbfbfb url(../images/ico-bus.png) 13px -473px no-repeat}
#busPopup .bus{padding-right:60px;background:transparent url(../images/ico-bus-big.png) right -475px no-repeat}
	#stopPopup .c-1{background-position:13px 7px}
	#stopPopup .c-2{background-position:13px -33px}
	#stopPopup .c-3{background-position:13px -73px}
	#stopPopup .c-4{background-position:13px -113px}
	#stopPopup .c-6{background-position:13px -153px}
	#stopPopup .c-146{background-position:13px -193px}
	#stopPopup .c-200{background-position:13px -233px}
	#stopPopup .c-211{background-position:13px -273px}
	#stopPopup .c-212{background-position:13px -313px}
	#stopPopup .c-213{background-position:13px -353px}
	#stopPopup .c-215{background-position:13px -393px}
	#stopPopup .c-231{background-position:13px -433px}
	#busPopup .c-1{background-position:208px 5px}
	#busPopup .c-2{background-position:208px -50px}
	#busPopup .c-3{background-position:208px -103px}
	#busPopup .c-4{background-position:208px -156px}
	#busPopup .c-6{background-position:208px -209px}
	#busPopup .c-146{background-position:208px -262px}
	#busPopup .c-200{background-position:208px -314px}
	#busPopup .c-211{background-position:208px -367px}
	#busPopup .c-212{background-position:208px -420px}
	#busPopup .c-213{background-position:208px -473px}
	#busPopup .c-215{background-position:208px -526px}
	#busPopup .c-231{background-position:208px -578px}
	
#zoomToMyPosition{box-shadow:0 0 2px 0 #000;z-index:1400;position:absolute;bottom:29px;left:10px;width:32px;height:32px;display:block;cursor:pointer;background: #fff url(../images/ico-locate.png) center center no-repeat;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;opacity:0.9}