
#map-container{width:100%;position:absolute;top:43px;bottom:0;left:0;right:0}
div.olMap{width:100%;height:100%}

.header-mobile{display:block;position:absolute;left:0px;top:0px;width:100%;height:43px;padding:0;background:#434343;border-bottom:0;box-shadow:0 0 0;z-index:1500}
#logo-mobile{display:block;position:absolute;top:10px;left:5px;background:url(../images/logo-small.gif) 0 0 no-repeat;width:194px;height:23px;text-indent:-9999px;font-size:0;line-height:0}
.beta-mobile{display:block;position:absolute;top:11px;left:205px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;width:36px;height:20px;background:url(../images/ico-beta.gif) 0 0 no-repeat;font-size:0;line-height:0;text-indent:-9999px}
.mobile-menu-btn{display:block;position:absolute;top:11px;right:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;width:36px;height:20px;background:url(../images/ico-menu.png) 0 0 no-repeat;font-size:0;line-height:0;text-indent:-9999px}

/*.panel{top:43px;left:auto;right:0px;width:375px;height:400px;box-shadow:0 0 0;z-index:1000}
*/
.panel{top:43px;left:auto;right:0px;bottom:0px;width:375px;height:auto;box-shadow:0 0 0;z-index:1000}
.btn-toggle{display:none}

.panel .header{display:none;width:100%;height:43px;padding:0;background:#434343;border-bottom:0}
.panel .header .aux{display:none;margin:0 auto;width:92%;position:relative;height:43px}
#logo{display:none;top:10px;left:0;background:url(../images/logo-small.gif) 0 0 no-repeat;width:194px;height:23px}
.beta{display:none;top:11px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.language-switcher{display:none;right:auto;width:100%}

.panel .main{top:0px}

#search-container{display:none}

.panel-content-out{position:absolute;top:0px;left:0}


#stopPopup,#busPopup{width:260px}
#stopPopup table,#busPopup table{width:260px}
#stopPopup .bus{padding-left:40px;background:#fbfbfb url(../images/ico-bus.png) 13px -473px no-repeat}
#busPopup .bus{padding-right:60px;background:transparent url(../images/ico-bus-big.png) right -475px no-repeat}
	#stopPopup .c-1{background-position:13px 7px}
	#stopPopup .c-2{background-position:13px -33px}
	#stopPopup .c-3{background-position:13px -73px}
	#stopPopup .c-4{background-position:13px -113px}
	#stopPopup .c-6{background-position:13px -153px}
	#stopPopup .c-146{background-position:13px -193px}
	#stopPopup .c-200{background-position:13px -233px}
	#stopPopup .c-211{background-position:13px -273px}
	#stopPopup .c-212{background-position:13px -313px}
	#stopPopup .c-213{background-position:13px -353px}
	#stopPopup .c-215{background-position:13px -393px}
	#stopPopup .c-231{background-position:13px -433px}
	#busPopup .c-1{background-position:208px 5px}
	#busPopup .c-2{background-position:208px -50px}
	#busPopup .c-3{background-position:208px -103px}
	#busPopup .c-4{background-position:208px -156px}
	#busPopup .c-6{background-position:208px -209px}
	#busPopup .c-146{background-position:208px -262px}
	#busPopup .c-200{background-position:208px -314px}
	#busPopup .c-211{background-position:208px -367px}
	#busPopup .c-212{background-position:208px -420px}
	#busPopup .c-213{background-position:208px -473px}
	#busPopup .c-215{background-position:208px -526px}
	#busPopup .c-231{background-position:208px -578px}

#serverTime{display:none}
#zoomButtons{top:auto;bottom:70px;right:5px}
#zoomToMyPosition{right:5px}


